[2021-11-18 18:44] banesullivan opened #1 "Improve UI controls"
Make the controls in the standalone web app a bit more polished looking

[2021-11-18 18:46] banesullivan opened #2 "Enable band selection in standalone app UI"
Add a UI section that lets the user select individual bands to view

- [x] Select min/max values for that band
- [x] Select color palettes from MPL colormaps

[2021-11-21 05:14] banesullivan opened #4 "Testing"
Add some basic tests to make sure we can launch multiple tile servers under the same process and that there is no overlapping in caching.

Additionally, make sure to have a Windows runner

[2021-11-21 05:32] banesullivan opened #5 "What is minimum GDAL version?"
I need to investigate what the minimum required version of GDAL is. There can be issues when serving datasets in certain projections under v3.3.x I think

For now, I'm going to recommend using v3.4 as that is what I am using

[2021-11-21 05:40] giswqs opened #6 "Add package to conda-forge"
Thank you for developing this nice package. I just tested it on my computer, and it works like a charm! I plan to incorporate the package into [geemap](https://github.com/giswqs/geemap) and [leafmap](https://github.com/giswqs/leafmap/). Would you consider making the package available on conda-forge? Thanks.

[2021-11-21 05:43] giswqs commented on #6
I have been using [xarray-leaflet](https://github.com/davidbrochart/xarray_leaflet) to load local raster datasets to ipyleaflet maps. However, it does not support Windows (see https://github.com/davidbrochart/xarray_leaflet/issues/30) and it is not very stable on Linux. It usually fails to load large raster files.

Does flask-tileserver support Windows? I have yet to test it on Windows.

[2021-11-21 06:33] banesullivan commented on #6
I'd be happy to get this on conda-forge... should be a breeze. Give me a few days as I'd like a little bit of the dust to settle before distributing on conda-forge.

-----

Assuming you can install GDAL, it should... though I do not use windows so I am unable to test it. There is some hackery going on with launching threads and using the thread IDs to keep track of which raster to serve so this ma

[2021-11-21 06:57] banesullivan opened #7 "Implement scooby Report"

[2021-11-21 16:29] #7 closed

[2021-11-21 22:58] #4 closed

[2021-11-21 23:48] banesullivan commented on #6
@giswqs, all should be working on Windows according to the latest CI Tests I have on Windows

[2021-11-21 23:48] banesullivan commented on #6
I will have to add `lage_image` to conda-forge before I can add `flask-tileserver` so this may take me a bit

[2021-11-22 04:49] banesullivan opened #9 "Local cache can grow large quickly"
There should be some sort of automated cleanup of the cache directory.

Also note that when extracting ROIs, the server will save that to a file in the temp directory, then serve that file over HTTP to the client to be saved again in the same temp directory. There should be a way to pass that filename to the Python client (though this wouldn't work if accessing from a remote machine... but I don't

[2021-11-22 06:12] giswqs commented on #6
I did test it on Windows, and it works fine. It appears that `large_image` and `large_image_source_gdal` are not available on conda-forge. Let me know if I can be of any help.

[2021-11-22 08:59] banesullivan opened #10 "Run with non-development server for concurrent requests"
Can I just add gunicorn and voila?

[2021-11-25 17:40] banesullivan opened #12 "Consider changing name to `localtileserver`"
I'm considering changing the name to `localtileserver` all around. I.e., the repository, pip package, and import name would all be `localtileserver`.  I think this name captures the intent of this package better than `flask-tileserver`.

I'm going to mull this over for a bit.

Thoughts @giswqs since I think you might be the only downstream user thus far?

Blocks #6

[2021-11-25 17:41] banesullivan commented on #12
Furthermore, I think the existence of [this package](https://pypi.org/project/tileserver/) with the name `tileserver` and the fact that the import name of this project is `tileserver` will lead to installation issues for many users

[2021-11-25 18:18] giswqs commented on #12
Sounds good to me. I have not incorporated it into geemap/leafmap yet, so the name change would not affect me

[2021-11-25 19:05] #12 closed

[2021-11-26 20:28] giswqs commented on #12
Nice animation. How did you create this?

![image](https://raw.githubusercontent.com/banesullivan/localtileserver/main/imgs/tile-diagram.gif)

[2021-11-26 20:34] giswqs opened #14 "Add support for folium TileLayer"
It seems localtileserve only supports ipyleaflet TileLayer at the moment. Is it possible to add support for folium TileLayer?

https://python-visualization.github.io/folium/modules.html#folium.raster_layers.TileLayer

[2021-11-26 20:45] banesullivan commented on #14
Should be very easy, I can do this for you!

[2021-11-26 20:47] banesullivan commented on #12
I made it with PyVista! I will add the script to the repo for reproducibility

https://github.com/pyvista/pyvista

[2021-11-26 20:48] banesullivan opened #15 "Add PyVista script to generate fancy tiles animation"
see https://github.com/banesullivan/localtileserver/issues/12#issuecomment-980429917

[2021-11-26 22:33] #14 closed

[2021-11-27 01:48] giswqs opened #17 "send_file() got an unexpected keyword argument 'download_name'"
I am testing it with a local GeoTIFF (download [here](https://drive.google.com/file/d/1EV38RjNxdwEozjc9m0FcO3LFgAoAX1Uw/view?usp=sharing)) and got the following error. The tile does not show up on the map.

[code]
![image](https://user-images.githubusercontent.com/5016453/143664410-b7fcf623-a946-45e1-91f9-d933e00cfaa4.png)

[2021-11-27 02:04] banesullivan commented on #17
Please make sure your version of `Flask` is up to date. I recently saw deperecation warnings from flask in favor of the new `download_name` so be sure to update. To resolve this, I will set a minimum version of flask

See #19

[2021-11-27 02:10] giswqs commented on #17
Updating flask solves the issue. BTW, is it possible to hide the warning `Created LRU Cache for 'tilesource' with 39 maximum size`?  Is it originated from the `large-image` package? Using the following two lines still shows that warning message.

[code]

![image](https://user-images.githubusercontent.com/5016453/143664819-36af143b-bc55-4b04-814f-839531fd80f5.png)

[2021-11-27 02:10] #17 closed

[2021-11-27 02:20] banesullivan commented on #17
I'm working on that. It is an upstream issue with large image. See https://github.com/girder/large_image/pull/689

[2021-11-27 02:32] giswqs opened #21 "Improve support for online COG"
Based on the [example datasets](https://github.com/banesullivan/localtileserver/tree/main/localtileserver/data), it seems an XML file is needed to render COG hosted online. Any guidelines on how you created the XML file? It would be awesome if a tile client can be created the same way for both local and online COG files.

Ideally, something like this:

[code]
I used to rely on [titiler](https://gi

[2021-11-27 02:48] banesullivan commented on #21
Aha, so you're bringing up something that I wanted to make clear with the name. `localtileserver` is intended to be used only serve tiles form raster files that exist on your filesystem. If you want a tile server that can handle accessing remote files, you have a few options:

1. We create a new `remotetileserver` package or submodule here
2. You can use [Resonant GeoData](https://github.com/Reson

[2021-11-27 02:53] giswqs commented on #21
Resonant GeoData seems awesome. I need to look into it. It would be great if you can make localtileserver work for pre-tiled COG. It might be too much work to create and maintain another package like `remotetileserver`.

[2021-11-27 02:56] banesullivan commented on #21
Well that is what Resonant GeoData is.... 😉

[2021-11-27 02:59] giswqs opened #22 "Support band selection for multi-spectral imagery"
The `band` parameter of `get_leaflet_tile_layer()` is an integer type. I would suggest adding support for band selection when there are more than 3 bands, e.g., `band=[4, 3, 2]`

Sample dataset: [landsat.tif](https://drive.google.com/file/d/1EV38RjNxdwEozjc9m0FcO3LFgAoAX1Uw/view?usp=sharing) (7 bands)

[code]
![image](https://user-images.githubusercontent.com/5016453/143665956-f116fee7-fad8-4cf6-b

[2021-11-27 03:20] banesullivan commented on #22
This is absolutely doable but will require a bit of work. I don't have a timeline for this but I absolutely will implement this

[2021-11-27 04:11] #21 closed

[2021-11-27 04:24] #10 closed

[2021-11-27 12:58] deeplook opened #25 "Extend to fix ImageOverlay, too?"
Thank you! This repo looks very promising, indeed, and gives me hope to work around https://github.com/jupyter-widgets/ipyleaflet/issues/234! Is there any chance to extend this to load `ImageOverlay`s also from local files and/or memory, like mentioned in that issue's title? That would allow to refresh the image inside an `ImageOverlay` which should work with this approach, too.

[2021-11-27 13:35] giswqs commented on #25
Are you trying to overlay GeoTIFFs or simple jpg/png on the map? For GeoTIFF, you can just add it as a tile layer to the map. Leafmap just added support for this. See https://github.com/giswqs/leafmap/pull/134

[2021-11-27 13:56] deeplook commented on #25
In my case it's only plain jpg/png.

[2021-11-27 14:13] giswqs commented on #25
Leafmap supports image_overlay with a local file. Have you tried it?

https://leafmap.org/leafmap/#leafmap.leafmap.Map.image_overlay
![image](https://user-images.githubusercontent.com/5016453/143685086-4e4531dc-3c01-4832-a05a-516d3d02a856.png)

[2021-11-27 16:52] banesullivan commented on #25
tl;dr: yes, I can add this by supporting non-geospatial images and then having you pass the existing `thumbnail` endpoint's URL to ImageOverlay.

------

I think there might be an issue with ipyleaflet/leaflet being able to load from local files that are not relative to the webserver launching leaflet (Jupyter) and that's what https://github.com/jupyter-widgets/ipyleaflet/issues/234 is all about?

[2021-11-27 17:29] deeplook commented on #25
Loading images from the localtileserver's root would be totally fine.

[2021-11-27 18:13] deeplook commented on #25
@giswqs It works for the default leafmap.Map (haven't tried anything else). I see that it passes the file wrapped in a base64 encoded URL in https://github.com/giswqs/leafmap/blob/09f9f732cdf15f3c7f52f4c544b1e9b13b84a337/leafmap/leafmap.py#L1358. Would it not be nice to have that in ipyleaflet directly? But I understand that this project has much unpredictability.

Also, I'm not sure I can refresh

[2021-11-27 18:22] giswqs commented on #25
`leafmap.image_overlay()` is based on ipyleaflet. If ipyleaflet can refresh the image data for an existing overlay, then leafmap should work as well. I have not tried it personally.

[2021-11-27 20:01] giswqs opened #26 "localtileserver with streamlit"
I created an interactive [streamlit](https://streamlit.io/) web app for visualizing local and remote COG based on localtileserver and leafmap. The web app works fine when running locally. However, when deployed to [Streamlit Cloud](https://streamlit.io/cloud), the tile layer won't show up. I turned on the debug mode and found that the app in streamlit cloud is missing `GET /tiles/`. See the screen

[2021-11-27 22:15] banesullivan commented on #26
This is going to be pretty tough to track down with out further context/pointing to the code that useing `localtileser`... If GET /tiles isn't coming through, then that makes me think your web front-end isn't requesting tiles *or* your server can't handle the requested data file and its hung opening the file and the request isn't logged

[2021-11-28 19:47] deeplook commented on #25
My point is that the lines doing the base64 encoding might perhaps better be added to ipyleaflet directly, so it would be possible to create an `ImageOverlay` instance and add it to a map in separate steps. `leafmap.image_overlay()` does it in one step only, which is shorter, but you don't have a handle to the instance.

[2021-11-28 19:59] giswqs commented on #25
@deeplook I am not sure how to add that directly to ipyleaflet (dealing with JavaScript). Maybe it is easier to create a new `ImageOverlay` (inherits `ipyleaflet.ImageOverlay`) with the base64 encoding functionality?

https://github.com/jupyter-widgets/ipyleaflet/blob/stable/ipyleaflet/leaflet.py#L691

[2021-12-05 04:45] banesullivan commented on #6
Work in progress here: https://github.com/conda-forge/staged-recipes/pull/17167

[2021-12-05 06:09] banesullivan commented on #5
I'm going to leave this a a recommendation to use 3.4 and I have the the conda recipe set to use >=3

[2021-12-05 06:09] #5 closed

[2021-12-05 17:51] banesullivan commented on #9
I added a new `purge_cache` utility that can be used to manually clean the cache for now

[2021-12-05 17:55] banesullivan commented on #9
I'm wondering if using `appdirs.user_cache_dir()` would be better than `tempfile.gettempdir()` ?

[2021-12-05 17:56] banesullivan commented on #9
There has to be some Python package out there for this sort of general file caching with automatic cleaning out there

[2021-12-06 00:02] #22 closed

[2021-12-06 01:01] banesullivan commented on #25
This feature is out of scope for localtileserver.

With that said, it is possible to use `localtileserver` to produce a thumbnail of any local image file. Simply install `large-image-source-pil` with `pip` and then do the following for PNG/JPEG images:

[code]

<img width="1167" alt="Screen Shot 2021-12-05 at 5 56 16 PM" src="https://user-images.githubusercontent.com/22067021/144771514-c06c8e46-ca

[2021-12-06 01:01] #25 closed

[2021-12-06 01:13] giswqs opened #29 "Accessing localtileserver from remote Jupyter environment"
The localtileserver works nicely locally. However, I have not been able to make it work in a cloud environment. I have tested it multiple cloud env without success, such as https://binder.pangeo.io, https://mybinder.org, https://streamlit.io/cloud and Google Colab. Below is the `environment.yml` I used to create the env. It would be nice to have a working env that users can launch a notebook to te

[2021-12-06 01:29] banesullivan commented on #29
I'm not sure if this is something that can be addressed by `localtileserver`... I've been meaning to outline this issue and see if there are ways around it.

In brief, `localtileserver` works by launching a webserver on a local port (local to wherever Python is running). If you are running Jupyter(lab) in a remote environment, then its not going to be possible to access the port on which `localtil

[2021-12-06 01:35] banesullivan commented on #29
Otherwise, what you can do is have your tile server running on another remote server with a publically visible URL. This is exactly what my team and I have built in ResonantGeoData and is demonstrated in this PR: https://github.com/ResonantGeoData/ResonantGeoData/pull/603

[2021-12-06 01:41] giswqs commented on #29
Thanks for the insight. It makes a lot of sense. This feature is just my wish-list. No worries if it can't be implmented.

Just curious, what kind of memory object could potentially make this work? Would the ipyleaflet [LocalTileLayer](https://ipyleaflet.readthedocs.io/en/latest/api_reference/local_tile_layer.html) be useful in this case? I would be happy to look into it if there is a path forward

[2021-12-06 01:42] giswqs commented on #26
Closing this issue. A more general issue has been reported at https://github.com/banesullivan/localtileserver/issues/29

[2021-12-06 01:42] #26 closed

[2021-12-06 01:46] banesullivan commented on #29
Ahhh, `LocalTileLayer` is interesting... I was not aware of that and I'll look into seeing if I might actually be able to get this to work with `LocalTileLayer`

[2021-12-06 02:02] banesullivan commented on #29
I don't think `LocalTileLayer` would even work in a remote Jupyter(lab) environment as-is. It simpy sets the file path as the URL of the tile layer:

https://github.com/jupyter-widgets/ipyleaflet/blob/f47ace2a2a3c5b27ca1c0079d8e07bc9ab22e601/js/src/layers/LocalTileLayer.js#L19

The client web browser would not be able to access that.

[2021-12-06 02:05] banesullivan commented on #29
We would have to make an ipywidget/comm that could pass the bytes of a PNG image. Then I'd have to refactor `localtileserver` a bit to have a version that doesn't run on in a webserver but just has a `get_tile(x, y, z)` mehtod that is called by the ipywidget model.

[2021-12-06 02:08] banesullivan commented on #26
Ehh, I think this might actually be more general than dealing with Jupyter in #29.

Do you manage the webserver that is running this app? If so, you can specify the port for which localtileserver is running and make sure that is publically visible so that the web browser viewing the app has access to the tiles

[2021-12-06 02:11] giswqs commented on #29
Would the following code be relevant?

https://github.com/giswqs/leafmap/blob/master/leafmap/leafmap.py#L1400
[code]

[2021-12-06 02:14] banesullivan commented on #29
Yep, that's what we'd do, but we'd need ipyleaflet to be able to take each one of those as tiles in the TileLayer

[2021-12-06 02:14] banesullivan commented on #29
This looks promising as a way to proxy the local web server over to Jupyter on MyBinder: https://jupyter-server-proxy.readthedocs.io/en/latest/index.html

[2021-12-06 02:16] giswqs commented on #26
Yes, I am managing the free webserver provided by [Streamlit Could](https://streamlit.io/cloud). I am not sure if there is a way to specify the port and make it publicly visible.

However, the app can also be deployed to other cloud providers, such as [Heroku](https://heroku.com/). Below is the code to start the server.

https://github.com/giswqs/streamlit-geospatial/blob/master/setup.sh#L15
[code

[2021-12-06 02:18] giswqs commented on #29
`Jupyter ServerProxy` seems interesting. I will look into it.

[2021-12-06 02:34] banesullivan commented on #26
I'm not familiar with streamlit cloud at all but AFAIK, with platforms like Heroku, you cannot make any port available, only 443 and 80 (for the homepage of your app).

I suspect what you need to do is add new endpoints in your Streamlit app itself so it can be the tile server request manager (but I don't know anything about streamlit so perhaps the notion of adding new endpoints doesn't make sens

[2021-12-06 02:40] giswqs commented on #26
Streamlit cloud behaves like Heroku. There is not much control you can do about the server. Let's stick with local stuff and forget about remote env. localtileserver does it really well in a local env.

[2021-12-06 02:55] banesullivan commented on #26
FWIW, I may come back to this later and implement a more stable way to launch the backing Flask application on remote servers with a `RemoteTileClient` interface and changing the existing `TileClient` to `LocalTileClient`.

This would be quite easy if all of your files are hosted online either through https:// or s3://

But it'll require putting some thought into making sure the backing Flask appl

[2021-12-06 04:55] banesullivan commented on #26
Well, deploying localtileserver on Heroku was an absolute breeze. I have a branch where I set this up in #30

And here is a demo: http://127.0.0.1:5000/?filename=https://opendata.digitalglobe.com/events/california-fire-2020/pre-event/2018-02-16/pine-gulch-fire20/1030010076004E00.tif

Simple pass any valid `https://` file (this might not work if the file URL has credentials or some sort of paramete

[2021-12-06 06:35] banesullivan commented on #29
FYI, https://github.com/banesullivan/localtileserver/discussions/32 does provide a work around by using a remotely hosted instance

[2021-12-09 07:26] #6 closed

[2021-12-09 15:53] giswqs commented on #29
Thank you very much for implementing this.

[2021-12-09 15:53] #29 closed

[2021-12-11 19:28] banesullivan opened #35 "Fix browser ROI downloads on error"
If there is a server error, an error file is download... no file should be downloaded and the user should see a toast

[2021-12-11 19:29] banesullivan opened #36 "Make mobile friendly"
The current web UI is not web friendly at all:

- nav menu is hidden
- opacity slider block cesium UI controls

[2021-12-11 20:17] #36 closed

[2021-12-12 04:59] #2 closed

[2021-12-17 22:11] banesullivan opened #38 "Multiband split view in Cesium Viewer"
Use the `ScreenSpaceEventHandler` like in this example to view multiple bands of a single tile source at once https://sandcastle.cesium.com/?src=Imagery%20Layers%20Split.html
![Screen Shot 2021-12-17 at 3 10 36 PM](https://user-images.githubusercontent.com/22067021/146613772-8ea35d08-c396-4752-99c2-1fd1832a1c31.png)

[2021-12-25 22:32] banesullivan opened #42 "Look into `PytestUnraisableExceptionWarning` during tests"
[code]

To do:

- [x] What test is causing this issue?
- [x] What code in that test is problematic?
- [x] Is this serious?
- [x] Can this be resolved?

[2021-12-28 03:20] giswqs opened #43 "Get pixel value by lat/lon"
Is it possible to get pixel value by lat/lon for a local tile? Leafmap already has the functionality for retrieving pixel value by lat/lon for remote COGs using [titiler endpoint](https://developmentseed.org/titiler/endpoints/cog/) or [Planetary Computer endpoint](https://planetarycomputer.microsoft.com/docs/reference/data/). I would love to implement similar functionality for local tiles.

https:

[2021-12-28 21:15] banesullivan commented on #43
Yes, this is already implemented though not really exposed in the `TileClient`. The server's endpoint to do this is `/pixel/{left}/{right}` which you can see on my deployed server here: https://tileserver.banesullivan.com/swagger/

To use this locally with the `TileClient`, do:

[code]
output:
[code]
I will leave this open to implement a method on the `TileClient` class to do this (as well as all

[2021-12-28 23:16] banesullivan commented on #43
The above is in pixel space. You can use the units parameter to use world coordinates.

I'll document this

[2021-12-29 04:33] giswqs commented on #43
That's great to know. I look forward to the implementation. Many thanks!

[2021-12-30 02:31] banesullivan commented on #43
This functionality is changing a bit in #44

[2021-12-30 02:47] #43 closed

[2021-12-30 03:04] giswqs opened #45 "get_leaflet_tile_layer error (v0.3.13)"
Both v0.3.13 and the GitHub source throws the same error when using the example. v0.3.12 works fine.

[code]
v0.3.13
![image](https://user-images.githubusercontent.com/5016453/147718301-7a8323c6-ed20-4939-a908-d6444f1de8fb.png)

v0.3.12
![image](https://user-images.githubusercontent.com/5016453/147718326-2705a5c4-493c-4ae1-80ec-ac301cf78866.png)

[2021-12-30 03:16] banesullivan commented on #45
Is this Python 3.6?

[2021-12-30 03:17] giswqs commented on #45
It is Python 3.8. You can see the Python path in the error screenshot.

[2021-12-30 03:18] banesullivan commented on #45
Can you share a report

[code]

[2021-12-30 03:22] giswqs commented on #45
Everything works fine when I downgraded localtileserver to v0.3.12.

[code]

[2021-12-30 03:25] banesullivan commented on #45
Sorry, can you actually share the whole env? With either pip list or conda list. I need info on traitlets which isn't covered in the report

[2021-12-30 03:28] giswqs commented on #45
Sorry for the long list. My env has a long history.

[code]

[2021-12-30 03:32] banesullivan commented on #45
I think the issue is that the change I introduced requires traitlets > v5. I'll see how I can fix this to be compatible with traitlets v4

[2021-12-30 03:35] banesullivan commented on #45
Fix is here: https://github.com/ipython/traitlets/issues/626#issuecomment-699957829

[2021-12-30 03:38] giswqs commented on #45
I just upgraded traitlets to v5.1.1, and the problem is solved. The traitlets package in my env was probably installed years ago. I have not used it directly.

[2021-12-30 03:38] #45 closed

[2021-12-31 22:34] #38 closed

[2022-01-03 21:53] banesullivan opened #48 "add `api/` prefix to API URLs"
The next minor version (v0.4.x) will rename many of the URLs for the API. e.g. `/tiles/{z}/{x}/{y}.png` -> `/api/tiles/{z}/{x}/{y}.png`

[2022-01-03 21:54] banesullivan commented on #48
This should have a very minimal effect on downstream projects

[2022-01-03 21:57] banesullivan opened #49 "--no-depends option for RemoteTileClient"
Is there a way in which we can safely use `RemoteTileClient` without installing/importing some of the heavier dependencies like large_image, flask, etc?

I'd rather not ship a separate package for this, so perhaps there is a way to have something like:

[code]

That can be used without installing all the dependencies

[2022-01-03 22:05] banesullivan opened #50 "Documentation"
The README is getting too long for my taste and many things are not included at this point. I think it's time to make dedicated documentation for this project. Here is a rough outline:

1. Overview
2. Installation
3. User Guide
    i. Basic Usage (Jupyter notebooks with ipyleaflet/folium) - Demo all features of `TileClient` (e.g. ROI extraction)
    ii. Command line usage with web application

[2022-01-07 23:33] banesullivan opened #52 "ROI extraction not working for Landsat Salt Lake example"
Need to look into this. there is some sort of projection issue - resolving this should handle a general case

Regions look like this:
<img width="777" alt="Screen Shot 2022-02-07 at 11 23 44 PM" src="https://user-images.githubusercontent.com/22067021/152930143-cb1ddf6a-0437-4aa7-897b-b616b8dc3133.png">

[2022-01-07 23:43] banesullivan commented on #49
I'm going to close this - this would require some significant refactoring to enable due to client checks like `get_clean_filename` and `palette_valid_or_raise`.

Since this was an idea of mine and nobody is really asking for it, I'm going to close.

If someone has a use for this, comment and I can re-open!

[2022-01-07 23:43] #49 closed

[2022-01-07 23:43] #48 closed

[2022-01-08 00:02] banesullivan commented on #48
@giswqs, if you're using RemoteTileClient, this may break during the release phase as I and you update everything

[2022-01-08 00:03] banesullivan commented on #48
Since this is breaking, the next version will be `0.4.x`

[2022-01-08 01:09] giswqs commented on #48
I don't use the API URL directly. As long as the `TileClient`  stays the same, I don't need to make any changes.

https://github.com/giswqs/leafmap/blob/8bd65d9b42c0629d60b55f194d7e50ec04d9162a/leafmap/common.py#L3691

[2022-01-08 14:15] giswqs opened #54 "Support custom palettes for single band imagery"
Is it possible to support custom palettes (e.g., a list of hex color codes) when rendering a single band?
For example: `["#006633", "#E5FFCC", "#662A00", "#D8D8D8", "#F5F5F5"]`

[2022-01-08 17:08] banesullivan commented on #54
This is totally possible, and it's a regression that this is failing with `get_leaflet_tile_layer`. I will fix

[2022-01-08 17:58] banesullivan commented on #54
FYI https://github.com/girder/large_image/issues/753

[2022-01-08 18:19] #54 closed

[2022-01-08 18:25] giswqs opened #56 "vmin and vmax"
How are `vmin` and `vmax` determined when plotting a single band with `vmin=None` and `vmax=None`? Are they derived from `TileClient.metadata()["bands"]` when users do not specify the values?

From the documentation, it seems `vmin` and `vmax` only support single-band imagery. How about multi-band imagery?

![image](https://user-images.githubusercontent.com/5016453/148655197-5a81df9c-c7e0-42a6-95c

[2022-01-08 18:42] banesullivan commented on #56
Most of this pertains to the upstream large_image package

They are determined with GDAL's `GetStatistics()` method directly: https://github.com/girder/large_image/blob/1b537a1fef5326721f2c8048361aba3d9f702656/sources/gdal/large_image_source_gdal/__init__.py#L522-L525

Check out [`GetStatistics()`'s documentation](https://gdal.org/doxygen/classGDALRasterBand.html#a6aa58b6f0a0c17722b9bf763a96ff069)

[2022-01-08 18:54] giswqs commented on #56
Thank you for the example. Great to know that it works multi-band imagery. I am implementing a GUI for loading raster in leafmap without coding.

https://user-images.githubusercontent.com/5016453/148656102-cff398f9-9eeb-4dc2-8974-9a35a2536a8e.mp4

[2022-01-08 18:54] #56 closed

[2022-01-09 05:17] giswqs opened #58 "nodata issue"
It seems the `nodata` parameter has no effect. No matter what `nodata` value is provided (e.g., -1), the tile will always treat 0 as nodata, resulting in some empty areas in the image.

[code]
![image](https://user-images.githubusercontent.com/5016453/148670352-685f9ab8-243f-4541-aeaa-9a3a9bf1b9b5.png)

![image](https://user-images.githubusercontent.com/5016453/148670362-997f656f-66af-4029-85e7-40

[2022-01-10 08:17] iiMox opened #59 "Packaging with pyinstaller"
Hello, I am using the localetileserver, and it is working but when I try to convert my py to exe the program shows me this error.

large_image.exceptions.TileSourceError: No available tilesource for C:\Users\iiMox\AppData\Local\Temp\_MEI50602\NE1_LR_LC_SR_W_DR.tif

[2022-01-11 04:48] banesullivan commented on #59
You're going to need to provide *a lot more* context here...

I have no experience bundling GDAL (the primary dependency of this package) into packaged environments or executables.

[2022-01-11 04:50] banesullivan commented on #59
Please provide more context on how you're creating an exe.

Also please provide a full stack trace and a scooby report:

[code]

[2022-01-11 05:17] banesullivan commented on #58
Huh. this surprises me... I will investigate

[2022-01-11 05:57] iiMox commented on #59
Thank you for your response.
Basically, I'm trying to build a localization program that takes images with gpsinfo and try to mark the positions on an offline map. It is working while debugging but the problem in the exe.

I am using auto-py-to-exe to do the render thing I here are the inputs :
pyinstaller --noconfirm --onefile --console --add-data "C:/Users/iiMox/Desktop/Finale/colorbrewer_all_sch

[2022-01-11 06:56] banesullivan commented on #59
I think your issue is really in regards to using GDAL with pyinstaller. A quick google revealed this: https://gis.stackexchange.com/a/295584

I don't know if I can be of much help with this... I'm not a Windows user and I've rarely used PyInstaller.

Bundling GDAL like this seems like a big task and this likely won't work if sharing the executable across computers

[2022-01-11 07:06] iiMox commented on #59
Can you recommend any other solutions rather than GDAL to perform this idea ?

[2022-01-11 07:49] banesullivan commented on #59
GDAL is a core requirement of this package - there is no working around that

[2022-01-12 07:20] banesullivan commented on #58
I think this might be an upstream issue: https://github.com/girder/large_image/issues/756

[2022-01-12 13:14] giswqs commented on #58
Thanks for looking into it.

[2022-01-12 18:40] giswqs commented on #58
Fixed in #60

[2022-01-18 16:48] gtgrp-user commented on #59
Hi @banesullivan, I am having the same issue, but I am not packaging with pyinstaller. I have a notebook where I am using localtileserver to load a satellite image and getting the following error:

`[2022-01-18 16:41:14,725] ERROR in app: Exception on /api/metadata [GET]
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\geo_env\lib\site-packages\flask\app.py", line 1516, in

[2022-01-18 16:51] banesullivan commented on #59
@gtgrp-user, would you please open a new issue for this unrelated issue?

[2022-01-18 17:04] gtgrp-user opened #62 "Projection and nodata issues with geotiff"
Hi @banesullivan,

Apologies for hijacking someone else's issue. I thought it was related.

I am having the` No available tilesource` issue. To give you the background, I am trying to load a Satellite image on a map using Jupyter Notebook. I am using the following piece of code:
[code]
Full stack trace:

localtileserver.report():

Thanks.

[2022-01-18 18:47] banesullivan commented on #62
Hey, @gtgrp-user - the `No available tilesource` error is somewhat of a catch-all error and the real issue could be one of many things.

Would it be possible for you to share the data file `20MAR30103630-M2AS-014050240020_01_P001_calibrated_QUAC_byte.tif` so that I can investigate and reproduce?

[2022-01-19 10:02] gtgrp-user commented on #62
Hi @banesullivan,

I have managed to fix "No available tilesource" issue by projecting the input image correctly. However, I have encountered the following issue:
![image_overlay](https://user-images.githubusercontent.com/89073412/150106401-0991dc1d-1829-4816-ad6b-bcbebdaecd53.PNG)

Instead of RGB, I see the above image. RGB image is available [here](https://globaltrust-my.sharepoint.com/:i:/g/per

[2022-01-19 10:29] gtgrp-user commented on #62
I have managed to fix this by converting the image to PNG format. However, I have expected the tif format to work!

[2022-01-19 15:34] banesullivan commented on #62
I'm glad you got the projection fixed and are no able to load the image!

----

The coloring issue is due to the raster missing the `nodata` field. Unfortunately, you may need to recreate the raster because the nodata pixels are filled with `45` in this particular image which is in the middle of the valid data range of `0` to `255` for RGB colors.

You can mostly work around this though by specify

[2022-01-20 09:16] gtgrp-user commented on #62
Thanks a lot. It works as you suggested. I really appreciate your time.

[2022-01-20 09:16] #62 closed

[2022-02-03 21:51] MATRIX4284 opened #66 "Cannot view tiles in remote Jupyter environment"
Raster layer map not displayed for TileClient with local files.

The raster layer comng from local file is not being displayed on map

[2022-02-03 21:54] giswqs commented on #66
You need to provide information about OS and env. Providing the sample dataset would be helpful.

[code]

[2022-02-03 22:00] banesullivan commented on #66
Screenshots and code would also be helpful

[2022-02-03 22:15] MATRIX4284 commented on #66
import localtileserver
print(localtileserver.Report())

--------------------------------------------------------------------------------
  Date: Fri Feb 04 03:44:31 2022 IST

                     OS : Linux
                 CPU(s) : 32
                Machine : x86_64
           Architecture : 64bit
                    RAM : 125.9 GiB
            Environment : Jupyter
            File system : ext

[2022-02-03 22:15] MATRIX4284 commented on #66
from localtileserver import get_leaflet_tile_layer, TileClient
from ipyleaflet import Map

# First, create a tile server from local raster file
tile_client = TileClient('/DISK003/SPATIAL_ANALYTICS/landuse.tif')

# Create ipyleaflet tile layer from that server
t = get_leaflet_tile_layer(tile_client)

# Create ipyleaflet map, add tile layer, and display
m = Map(center=tile_client.center())
m.add_lay

[2022-02-03 22:16] MATRIX4284 commented on #66
the tile layer id not getting displayed in map

[2022-02-04 00:43] banesullivan commented on #66
Would it be possible to share the `landuse.tif` file?

I do not understand what you mean... could you include screenshots?

[2022-02-04 21:05] MATRIX4284 commented on #66
[landuse.tiff.zip](https://github.com/banesullivan/localtileserver/files/8006213/landuse.tiff.zip)
it is clearly getting plotted in QGIS

[2022-02-04 21:05] MATRIX4284 commented on #66
attached the zip file of the tif as it was not allowing to attach tiff directly

[2022-02-04 21:06] MATRIX4284 commented on #66
you can try to visualize the tif in QGIS as a reference

[2022-02-04 21:24] banesullivan commented on #66
I am having no issues visualizing this raster with `localtileserver`. From what I can tell, there isn't anything wrong with the file and `localtileserver` handles it as well as any of the examples.

Here is the code I used:

[code]

and a screenshot of Jupyter:

![Screen Shot 2022-02-04 at 2 23 25 PM](https://user-images.githubusercontent.com/22067021/152605000-e13bc34f-70ba-4a27-a453-ea60f04b6e86

[2022-02-04 22:19] MATRIX4284 commented on #66
how come it is possible i am ruuning the same set of commands and i can see only the basemap but not any other layer

[2022-02-04 22:31] banesullivan commented on #66
@MATRIX4284, I'm not sure. Are you seeing any errors? In the JavaScript console of your browser are you seeing any errors? in the network tab of the dev tools in your browser, are you seeing any 404s?

Is it possible you are running on a remote system where your web browser might not have access to the port on which `localtileserver` is serving the imagery?

[2022-02-04 22:44] MATRIX4284 commented on #66
![Screenshot_20220205-035642__01](https://user-images.githubusercontent.com/20940800/152613053-01ca7f7c-b67c-4530-a98d-730f7ff41b3b.jpg)
 this is waht is coming when i am runnig the command.
I can see only the base map

[2022-02-04 22:46] MATRIX4284 commented on #66
from localtileserver import get_leaflet_tile_layer, TileClient
from ipyleaflet import Map
import ipyleaflet
# First, create a tile server from local raster file
tile_client = TileClient('/DISK003/SPATIAL_ANALYTICS/landuse.tif')

# Create ipyleaflet tile layer from that server
t = get_leaflet_tile_layer(tile_client)

# Create ipyleaflet map, add tile layer, and display
m = Map(center=tile_client.ce

[2022-02-04 22:48] MATRIX4284 commented on #66
As you can see i can see basemap layer but not the layer in showing the land usage.I am not abe to comprehend the reason why it is not showing up in my machine despite similar code snippets used.

[2022-02-04 22:49] MATRIX4284 commented on #66
is there any dependency on chrome version ??

[2022-02-04 22:53] MATRIX4284 commented on #66
![localtileserveroutout](https://user-images.githubusercontent.com/20940800/152613827-c057db9a-a196-4319-9e07-1baa52d88081.jpg)

[2022-02-04 23:07] MATRIX4284 commented on #66
os:ubunyu 16.04
python:

yes i am using remote system where my jupyter is  running at port 15000 .I am connecting to jupyer by ip:port

[2022-02-04 23:23] MATRIX4284 commented on #66
i just tested the docker with the volume the output is showing

[2022-02-04 23:26] MATRIX4284 commented on #66
but python module when installed on os is not showing up the stuff

[2022-02-06 01:51] banesullivan commented on #66
Aha. This is a duplicate of #32 which isn't fully solved. https://github.com/banesullivan/localtileserver-demo/issues/1 also tracks this

Because you are running in a remote environment, you must set up your server to expose the port the on which `localtileserver` is serving the image tiles. `localtileserver` randomly chooses a port by default, so you will need to allocate a port and pass it to `l

[2022-02-06 05:22] banesullivan commented on #66
Release `0.4.1.dev0` provides an interface that allows for a solution to this and #29 and https://github.com/banesullivan/localtileserver-demo/issues/1 using `jupyter-server-proxy`

This can get messy/complicated and I haven't documented (at all), but essentially `localtileserver.TileClient` now allows you to map the server's host and port to what your browser sees as the host (and port). To use t

[2022-02-06 05:30] giswqs commented on #66
@banesullivan You rock! This is exciting! Can't wait to try it out.

[2022-02-06 05:35] giswqs commented on #66
It seems the binder system username is `jovyan`. Can you set those env variables automatically when the system username is `jovyan`?

![image](https://user-images.githubusercontent.com/5016453/152668944-273e99fb-8f6b-4079-88e7-1e7163f6b06a.png)

[2022-02-06 05:40] banesullivan commented on #66
Yep! You should be able to set env variable no matter the user

[2022-02-06 17:57] banesullivan commented on #66
I just pushed `0.4.1.dev1` which removed `LOCALTILESERVER_PORT` and now requires you to set the following to work with `jupyter-server-proxy`:

- `LOCALTILESERVER_CLIENT_HOST=127.0.0.1` - The host on which you launch Jupyter
- `LOCALTILESERVER_CLIENT_PORT=8888` - The port on which you launch Jupyter
- `LOCALTILESERVER_CLIENT_PREFIX='proxy/{port}'` - Same for everyone using `jupyter-server-proxy`

[2022-02-06 18:30] MATRIX4284 commented on #66
I will test after setting the variables accordingly

[2022-02-06 19:57] banesullivan commented on #66
This was further improved in #67 such that only setting:

`LOCALTILESERVER_CLIENT_PREFIX='proxy/{port}'` should be sufficient for you, @MATRIX4284

I will release 0.4.2 shortly

[2022-02-08 06:02] banesullivan commented on #42
The issue was the `test_create_tile_client_bad` test where I catch specific errors when creating a `TileServerThread` instance. The `__init__` of `TileServerThread` performed a fe value checks before initializing the actual `Thread`:

https://github.com/banesullivan/localtileserver/blob/f2c9c60fdcbf0b11f389937c5ed289a9d0da0c4a/localtileserver/server.py#L82-L91

On errors, the initialization would

[2022-02-08 06:02] #42 closed

[2022-02-08 06:03] banesullivan commented on #66
@MATRIX4284, I'm going to assume your issue has been resolved and close this issue. Please reach out if you are still having issues

[2022-02-08 06:03] #66 closed

[2022-02-08 06:22] #35 closed

[2022-02-08 23:06] MATRIX4284 commented on #66
Hi @banesullivan @giswqs thanks for you support .Now i can see my tiles in jupyter .Thanks a ton

[2022-02-09 03:23] #50 closed

[2022-02-14 04:35] banesullivan commented on #15
This script is fairly messy, if someone really wants it, ping me here

[2022-02-14 04:35] #15 closed

[2022-02-14 04:36] banesullivan commented on #9
For now, `purge_cache` seems sufficient to me as this is only an issue if extracting a lot of regions. Your system should prune these files when necessary as they should be in the tempdir of the user computer.

[2022-02-14 04:36] #9 closed

[2022-02-14 04:39] banesullivan commented on #52
This is a non-issue. That particular GeoTiff gives Preview some trouble. Extracting an ROI yields a valid GeoTiff

[2022-02-14 04:39] #52 closed

[2022-02-14 04:40] banesullivan commented on #1
I'm never gong to get around to this. The priority is the Jupyter widgets support, not the web app

[2022-02-14 04:40] #1 closed

[2022-02-14 04:43] banesullivan commented on #59
I have no idea how to bundle GDAL with pyinstaller and it's a bit out of scope for this project. Maybe one day, I can come back to this and add a page to the docs on how to do such a thing, but it will be rather involved and different on each OS.

I'm going to close this due to lack of activity and being a bit separate from the scope of this project. If someone else is interested in this, please f

[2022-02-14 04:43] #59 closed

[2022-02-16 03:58] giswqs opened #70 "Add support for Google Colab"
Now localtileserver is working with JupyterHub. It would be nice to also make it compatible with Colab. The following two lines have no effect on Colab as it is not a JupyterHub.

[code]

[2022-02-16 17:27] banesullivan commented on #70
@giswqs, it's been a long time since I've used Colab. Could you post a link to a repo and session I could launch to debug this?

[2022-02-20 19:54] banesullivan commented on #70
I have no idea how to do this on google colab. It's seemingly not a Jupyter Hub/Lab instance and I have absolutely no idea how to expose a port on the runner. `jupyter-server-proxy` is really the only safe way to do this in cloud environments and I don't think that's possible with google colab

[2022-03-29 22:08] banesullivan opened #71 "palette -> cmap"
I'm thinking of changing the term `palette` to `cmap` in the Python interface to be consistent with PyVista, matplotlib, etc.

[2022-03-29 23:16] haseeb33 opened #72 "AttributeError: 'Map' object has no attribute 'add_child'"
I am trying to run the minimal example and getting this error. Maybe I am missing something big.
<img width="1162" alt="Screen Shot 2022-03-30 at 8 14 15 AM" src="https://user-images.githubusercontent.com/16355899/160721687-484a82f6-8555-4f01-b7bc-d73b5b3d2064.png">

Report:
--------------------------------------------------------------------------------
  Date: Tue Mar 29 23:20:12 2022 UTC

[2022-03-29 23:32] giswqs commented on #72
You need to use folium rather than ipyleaflet in this example

[2022-03-29 23:35] haseeb33 commented on #72
@giswqs I ran the example code provided by the library document. And here we meet again. 😄

[2022-03-29 23:37] giswqs commented on #72
So, did the example work for your Jupyter on a remote server?

[2022-03-29 23:41] haseeb33 commented on #72
@giswqs No, it's not working and I have been reading previous issues (#1 #29 #66) on this repo and found it's way more complicated than it looks.

[2022-03-30 00:18] banesullivan commented on #72
🤦‍♂️that method should be `add_layer` for ipyleaflet. I will update this asap

Regarding your remote environment, what is the environment?

[2022-03-30 00:24] haseeb33 commented on #72
@banesullivan We have a physical server, placed and run from one place. Jupyter notebook docker is installed on it so everyone can access it with a simple link. We access it like a website.

Specs of it are shown in the report mentioned above. Let me know if there are some specific questions about the server.
Thanks!

[2022-03-30 00:26] banesullivan commented on #72
I think you will want to use the jupyter server proxy set up in that scenario (otherwise, you need to expose the port on which localtileserver is running inside the docker container). Hopefully this guide is all you need: https://localtileserver.banesullivan.com/installation/remote-jupyter.html

[2022-03-30 00:28] haseeb33 commented on #72
@banesullivan Thank you very much for the quick response. I will give it a try.

[2022-03-30 00:28] banesullivan commented on #72
If it helps, there is a Jupyter dockerfile here: https://github.com/banesullivan/localtileserver/blob/main/jupyter.Dockerfile

[2022-03-30 00:50] giswqs commented on #72
@haseeb33 Once you get the example to work, you should then be able to use geemap's `add_local_tile()`  function as usual.

[2022-03-30 16:47] banesullivan opened #74 "Add a utility to the Report that will help decipher if a user is in a "remote" environment"
Users are regularly running into issues setting up/using localtileserver in remote environments -- whether by running Jupyter on a remote server or within an isolated network on their own device (e.g., within Docker).

I'm thinking that there might be a way to provide a surface-level test as to whether the user is in one of these scenarios. It would be nice to provide a utility method that would t

[2022-03-30 16:50] banesullivan commented on #74
At the very least, I could provide a test widget that would give the user errors rather than silently failing like the map views currently do (because a 404 tile URL is actually okay - means that there's no data for that tile in many cases)

[2022-03-30 17:10] banesullivan opened #75 "werkzeug-2.1.0 incompatible"
werkzeug-2.1.0 was released 2 days ago and is leading to some serious issues rendering localtileserver unusable in many scenarios

I am aware and digging through the release notes to try to figure out what has changed

https://werkzeug.palletsprojects.com/en/2.1.x/changes/#version-2-1-0

[2022-03-30 17:38] banesullivan commented on #75
Version 0.4.5 of localtileserver pins werkzeug<2.1.0 until I can provide a stable, backward-compatible solution

This issue appears to be from https://github.com/pallets/werkzeug/pull/2276/commits/047762d1f465927baf58308daa0d0bbe9037d9ad

There was some discussion in https://github.com/pallets/werkzeug/issues/1752

This release and removal seem to be affecting others as well: https://github.com/pa

[2022-04-01 22:29] #75 closed

[2022-04-16 22:55] #72 closed

[2022-04-16 23:20] #71 closed

[2022-05-04 18:52] avanetten opened #89 "Bokeh tile server"
I'd like to use localtileserver in conjunction with [bokeh](https://docs.bokeh.org/en/latest/docs/user_guide/geo.html), though I'm not having luck.  Ideally, I'd like to spin up a bokeh server, though I haven't had luck within jupyter either.  I suspect this is related to [66](https://github.com/banesullivan/localtileserver/issues/66), just not sure exactly how to point bokeh to the tiles served u

[2022-05-04 22:18] banesullivan commented on #89
Totally doable with the `WMTSTileSource` model from bokeh: https://docs.bokeh.org/en/latest/docs/reference/models/tiles.html#bokeh.models.WMTSTileSource

I just pushed this example to the documentation: https://localtileserver.banesullivan.com/user-guide/bokeh.html

[code]

![Screen Shot 2022-05-04 at 4 09 59 PM](https://user-images.githubusercontent.com/22067021/166833866-4125ad82-e999-4975-a91f-

[2022-05-04 22:30] giswqs commented on #89
Nice! Looks like I can add bokeh to leafmap as a new plotting backend.

[2022-05-06 13:36] avanetten commented on #89
Amazing, thanks @banesullivan.

[2022-05-06 15:46] banesullivan commented on #89
Reach out if you're still having trouble getting this running in a "remote" environment and perhaps le me know how I can improve this page: https://localtileserver.banesullivan.com/installation/remote-jupyter.html

In the meantime, I'm going to close this issue

[2022-05-06 15:46] #89 closed

[2022-05-23 23:56] giswqs opened #90 "Modify streamlit to support localtileserver"
Since streamlit is unwilling to support for jupyter-server-proxy, would it make sense to add a function in localtileserver that can modify the two files in streamlit as you did in this [streamlit PR](https://github.com/streamlit/streamlit/pull/4677/files)? If not, I can add a function to in leafmap to support this. I would love to able to use localtileserver with streamlit.

[2022-05-25 14:48] banesullivan commented on #90
That seems quite hacky and prine to fail so I don't think this is the right solution.

Also, the Python code we'd be modifying would already have been executed on launch... Perhaps we could add a Python entry point to do this, but again... *super* hacky and it will break as soon as there are any changes to streamlit

[2022-06-07 13:05] 12rambau opened #95 "again a poor soul not managing to serve the tiles on remote server"
I know that it's a known issue, I'm not here to says it doesn't work, but more to say I think I don't understand the wiring.

## What I tried

As simple as it seems my objective wa to check if I can display the example image on a map:
[code]

As many before me I have the tile of the basemap but I don't see the "toto" layer.

## status

- I did what was suggested in the documentation (https://local

[2022-06-07 19:16] banesullivan commented on #95
@12rambau, thanks for giving localtileserver a try and working hard to understand exactly what's going awry here - I understand this is probably a bit frustrating and I'd like to help get this working for you.

Overall, it seems you have set it up to work in a remote Jupyter environment as you are getting 200 statuses on your tiles. The confusing thing is that you are seeing fully transparent tile

[2022-06-08 17:22] 12rambau commented on #95
Thank you for your prompt answer. Until now I was using [xarray_leaflet](https://github.com/davidbrochart/xarray_leaflet) but recently [geemap](https://github.com/giswqs/geemap) from @giswqs started using your lib for the same operation.

 So I think I went a bit to fast looking at the payload. The images are not transparent, they are white in the preview (but as I'm not seeing them in the maps I

[2022-06-08 17:32] giswqs commented on #95
@12rambau xarray-leaflet is no longer being actively developed and it never works on Windows, so I decided to switch to locatileserver. If you want to stick with xarray-leaflet, you can still use the `add_raster_legacy()` function.

https://geemap.org/geemap/#geemap.geemap.Map.add_raster_legacy

[2022-06-08 17:45] 12rambau commented on #95
I'm only running things on a linux environment so that was not an issue (I have a pending issue for way to long on xarray_leaflet as well 😄 ). I saw the `add_raster_legacy` in the latest release (which is super convenient) but I would prefer to follow-up with new cool thing like this !

[2022-06-17 20:17] banesullivan commented on #95
@12rambau, were you able to resolve this issue? I'd be happy to help you debug this if you're still having trouble

[2022-06-20 07:25] aryans14 commented on #17
Further error details from command prompt:

127.0.0.1 - - [2022-06-20 15:09:27] "GET / HTTP/1.1" 200 794 0.012084
127.0.0.1 - - [2022-06-20 15:09:28] "GET /boot HTTP/1.1" 200 178 0.000000
127.0.0.1 - - [2022-06-20 15:09:28] "GET /logo192.png HTTP/1.1" 404 156 0.000000
127.0.0.1 - - [2022-06-20 15:09:28] "GET /favicon.ico HTTP/1.1" 200 318 0.000000
127.0.0.1 - - [2022-06-20 15:09:32] "GET /api/proj

[2022-06-21 12:42] 12rambau commented on #95
nope I'm still a bit lost. Didn't have any idea but if you want me to check other stuff I'll be happy to give it a try

[2022-07-18 20:02] banesullivan opened #100 "ipyleafelt's `add_*` methods were deprecated: update examples"
See https://github.com/jupyter-widgets/ipyleaflet/pull/982

The `add_*` methods like `add_layer` were deprecated. The examples for ipyleaflet need to be updated accordingly.

I may give it some time for the latest release to settle and for users to start getting the deprecation notice before making these updates to minimize friction for new users

[2022-07-18 20:10] banesullivan opened #101 "Configure jupyter server extension"
I'd like to see if we could use a jupyter-server extension to improve using `localtileserver` in remote jupyter environments to resolve issues like #95

cc @12rambau

reference: https://jupyter-server.readthedocs.io/en/latest/developers/extensions.html#server-extensions

when I get some free time, I will look into this and hopefully implement a solution that will "just work"

[2022-07-19 21:45] banesullivan commented on #89
@avanetten, great [blog post](https://medium.com/geodesic/serving-up-spacenet-imagery-for-bokeh-e85b8fffe05)!! I noticed that there we a few links to this repository: https://github.com/avanetten/spacenet-tiler which doesn't seem to exist. Is the code you are referencing in the bog open?

[2022-07-19 22:16] banesullivan commented on #89
Also, thought I'd point out that the imagery from the SpaceNet collection are NOT actually Cloud Optimized GeoTiffs - they might as well be plain old GeoTiffs because they lack overviews. `localtileserver` handles COGs or non-COGs all the same, it's just that non-COGs, like this imagery, have very poor performance.

Thought I'd note this in case you or others are wondering why those images are so

[2022-07-19 22:23] banesullivan commented on #89
Aha, I think I found the repo here: https://github.com/Geodesic-Labs/bokeh-tiler

[2022-07-22 20:11] avanetten commented on #89
@banesullivan Thanks for the feedback.  I did indeed have a few broken links (now fixed) in the blog post, and you are correct that the repo is at: [https://github.com/avanetten/bokeh-tiler](https://github.com/avanetten/bokeh-tiler).

I'd also never bothered to check if the purported COG was actually a COG, so thanks for that.  I've updated the README in bokeh-tiler to ensure that the tiled file i

[2022-07-24 17:17] 12rambau commented on #95
thanks a lot for your help @banesullivan I think I finally managed to find the server prefix needed to make it work. I simply use the one found in `os.environ["SUDO_COMMAND"]`:

[code]

<img width="1333" alt="Capture d’écran 2022-07-24 à 19 11 39" src="https://user-images.githubusercontent.com/12596392/180658553-597d5b8b-513c-467d-87a3-f27ccc981b83.png">

I'll close this one when I'll manage the

[2022-07-24 20:43] 12rambau opened #103 "add support for custom matplotlib colormap"
When displaying single band imagery specifically categorical maps, sometimes you need a very specific color classification with value-color pairs. In the current implementation, only a list of hex colors or a colormap name can be used. would you like to add support for customized matplotlib colormap?

[2022-07-24 21:18] 12rambau opened #104 "could BoundTileLayer be declared outside of the function ?"
In one of my application, I'm scrolling in the layers displayed on my map and performed different operations depeding on where there from. The only way I can make the differents between something comming from localtileserver and another TileLayer is the type. In https://github.com/banesullivan/localtileserver/blob/165de5dc63b45689a72e22035f1fa2135eb93b71/localtileserver/widgets.py#L100 you are usi

[2022-07-25 04:27] banesullivan commented on #104
@12rambau, would #105 work for you?

The feature in `BoundTileLayer` has actually been implemented in `ipyleaflet` so I planned on removing that class after most users upgraded to the latest version. It was internal so that I could easily remove it and let `ipyleaflet` handle the bounds.

After some thought on what you described above, I think it would be useful to have a `localtileserver` mixin c

[2022-07-25 04:58] banesullivan commented on #103
Should be easy enough!

I believe a custom colormap could be converted to what is currently supported with this:

[code]

I will add support for any `matplotlib.colors.Colormap` subclass

[2022-07-25 05:41] banesullivan commented on #103
[code]

[2022-07-25 06:08] banesullivan opened #107 "caching is broken"
[code]

i think this an issue with flask-caching

[2022-07-25 06:20] 12rambau commented on #103
sounds about right. So you "export" all the values contained in the matplotlib colormap. I guess that in my use case I'll need to be extra careful wih vmin and vmax to make sure that values are corresponding right ?

[2022-07-25 06:22] #104 closed

[2022-07-25 06:32] banesullivan commented on #107
hopefully fixed by https://github.com/banesullivan/localtileserver/commit/c1e7b9aa96ded73b92696b3252e395e8863d548e

[2022-07-25 06:35] banesullivan commented on #103
Yes, we have to “export” the colors like this and yes, you’ll need to be concious of the vim/vmax.

I’m curious… how are you defining your colormaps? Do they have a range associated with them? If you could share, I may be able to implement something that would handle all this under the hood.

[2022-07-25 06:51] 12rambau commented on #103
I need to find back a meaningful example, let me check in my files and I'll share something. In the meantime I've implemented your suggestion

[2022-07-26 16:17] banesullivan commented on #107
Removing the pylibmc dependency, solved the issue on production for now.

[2022-07-26 19:03] banesullivan opened #108 "Switch to FastAPI"
Flask has been giving me too many headaches lately, and I've been wanting to learn/use FastAPI.

I'm going to rewrite the internals of `localtileserver` to strip out flask and use fastapi. The average user will see not change in the Python API, but any projects using the flask blueprint (I think I'm the only person doing that) will no longer be supported.

When this lands, it will completely chang

[2022-07-28 14:18] banesullivan commented on #107
As far as I can tell, this resolved itself with a few clean builds on heroku

[2022-07-28 14:18] #107 closed

[2022-07-30 21:37] banesullivan opened #111 "What if `TileClient` was a wrapping of a `rasterio` dataset?"
What if the parent class for `TileClient` (well `BaseTileClient` really) was `rasterio.io.DatasetReaderBase`?

This would make it possible to use `rasterio` and `localtileserver` interchangeable (kind of like PyVista's wrapping of VTK 😉 ).

Just a thought... I may play around with this and see what it could look like / how it could work.

[2022-08-03 20:18] giswqs opened #115 "Very slow on Windows"
I noticed that localtileserver is very slow on Windows. It took ~13 seconds to generate tiles for [this ](https://github.com/giswqs/data/raw/main/raster/srtm90.tif)very small GeoTIFF (14 MB). It used to be very fast on Linux. I am not sure what causes the issue.

![Animation](https://user-images.githubusercontent.com/5016453/182700120-9839570e-8db9-40a0-b608-a116f29ecc71.gif)

[code]

env
[code]

[2022-08-03 20:27] giswqs commented on #115
For reference, using the localtileserver binder, it takes less than two seconds to generate tiles.

[2022-08-03 20:39] giswqs commented on #115
I also noticed that the spinning wheel is staying a bit longer than it should be. It can be a bit annoying to keep seeing the spinning wheel. Can it be turned off?

![Animation](https://user-images.githubusercontent.com/5016453/182707080-42600529-a7f5-4093-b883-df0cf281bac5.gif)

[2022-08-04 21:44] banesullivan commented on #115
I added this recently -- I'd like to keep it as I think it is valuable and it does accurately correspond to tiles loading. To disable it, simply pass `show_loading=False` when calling `get_leaflet_tile_layer()` or set that property on the `leaflet.TileLayer`: https://ipyleaflet.readthedocs.io/en/latest/layers/tile_layer.html#ipyleaflet.leaflet.TileLayer.show_loading

[2022-08-04 21:48] banesullivan commented on #115
I'll try to look into this when I have a chance. Timing the full execution of that script isn't very insightful, so I'll have to dig into each part of the script what's taking so long. Is it the `import` that takes a while or is it opening the raster, or what?... this will require more investigative work.

Further, how Python is running on the host windows machine can significantly impact performa

[2022-08-04 22:15] banesullivan commented on #115
My windows machine is happy today, so I'm looking into this. I've at least narrowed it down to the `get_leaflet_tile_layer()` for the most part (ipyleaflet rendering the tiles also takes a few seconds).

Collecting the metadata for this raster seems to be the culprit and specifically when it's down through the rest interface.

I have a feeling there are a few things that need to be optimized and t

[2022-08-04 22:19] banesullivan commented on #115
What I may do is change the implementation a bit under the hood to generally optimize the `TileClient` methods (regardless of OS) as I've been wanting to but again, this is something I can't give a timeline on as this is a fun little hobby project. It will likely come after/during #108

[2022-08-29 14:40] banesullivan commented on #103
@12rambau, following up on this: do you have an example you could share? I'd like to support this either here or directly in large-image

[2022-11-02 02:52] giswqs opened #124 "Extract roi issue"
I was testing the `extract_roi()` function using the sample `bahamas_rgb.tif`. It seems the extracted image does not match the bounding box. Is this a bug?

[code]
![image](https://user-images.githubusercontent.com/5016453/199383881-93797d57-973a-4bb2-9e23-88592c5da402.png)

![image](https://user-images.githubusercontent.com/5016453/199384002-d37ebe49-8ac8-4186-85c8-9c7d88d15cf8.png)

[2022-11-02 16:23] banesullivan commented on #124
odd. I think this is a simple projection issue. I will investigate

[2022-11-02 19:02] #124 closed

[2022-11-02 19:02] banesullivan commented on #124
This should be fixed but I'll need a bit to get a release out

[2022-11-10 22:04] jordancaraballo opened #127 "Raster image stretch e.g. min max stretching"
Hi, has there been any work or examples on stretching the rasters when used with localtileserver.get_leaflet_tile_layer? Working with uint16 raster at the time and imagery is extremely dark. I have seen this example using the ee library, https://github.com/giswqs/earthengine-py-notebooks/blob/master/Visualization/image_stretch.py, but I have not seen any available args in order to work on stretchi

[2022-11-10 22:59] banesullivan commented on #127
This should be doable, and perhaps there is a terminology difference between EE and large-image. With large-image, I think the min/max options are what you need.

Would you please provide some sample data and perhaps an example (screenshot) of the desired output so that I can try to put an example together for you?

[2022-11-10 23:40] giswqs commented on #127
[TiTiler](https://developmentseed.org/titiler/endpoints/cog/#tiles) uses a parameter called `rescale`, so you can set something like `rescale=0,1000` (same for all bands) or `rescale=["164,223","130,211","99,212"]` (different values for different bands). See https://github.com/giswqs/leafmap/pull/299

[2022-11-11 00:18] giswqs commented on #127
Here are two examples for showing the differences. The `leafmap.add_cog_layer` uses TiTiler while `leafmap.add_raster()` uses localtileserver. It would be great if localtileserver can support this as well.

[code]
![image](https://user-images.githubusercontent.com/5016453/201232846-a620815e-ac2b-4ba6-9db3-0fad7418c19d.png)

[code]
![image](https://user-images.githubusercontent.com/5016453/20123288

[2022-11-11 00:33] banesullivan commented on #127
Hm. I'm not actually needing to rescale that image when using localtileserver/large-image as the GeoTIFF properly labels the RGB channels. However, I can show how to rescale with this image (or any image) using the `style` specification from large-image (reference https://localtileserver.banesullivan.com/user-guide/rgb.html and https://girder.github.io/large_image/tilesource_options.html#style):

[2022-11-11 15:48] jordancaraballo commented on #127
@banesullivan thank you very much for the example, that is definitely going in the right direction and it changes the colors extremely well. This can definitely go in one of the example notebooks, I will try to create one with what I have if you think it is appropriate to include. The downside for this I guess is the manual lookup of the min and max values which I just gathered with rasterio on th

[2022-11-11 16:14] banesullivan commented on #127
Fantastic example!

I'll see if I can add some helper methods to build the styling parameters for different types of stretches like this. If I implement, @jordancaraballo, would you be willing to review the work?

[2022-11-11 16:33] jordancaraballo commented on #127
Yes, I would be willing to take a look at it. Also, just noticed the .rasterio option from the TileClient has all the needed statistics, so it will be even easier to implement.

[code]

[2022-11-11 16:43] banesullivan commented on #127
This is re-assuring me that #111 and https://github.com/girder/large_image/pull/927 would be hugely beneficial... Would be great if I could refactor `localtileserver` to be `rasterio` centrice and only do the tile serving through `large-image`... maybe in time!

----

I'll get working on these stretching options when I have some time!

[2022-11-11 16:51] jordancaraballo commented on #127
Indeed, #111  would make a lot of more interactions with rasterio easier. This is my quick bandaid for the dashboard I am building, hopefully I will remove it after your implementation. Thanks again for looking into this!

[code]

[2022-11-16 13:32] giswqs opened #128 "Support for Amazon SageMaker Studio Lab"
[Amazon SageMaker Studio](https://studiolab.sagemaker.aws/) is a free cloud computing platform, similar to Binder but users can install packages and save files permanently. It seems localtileserver is not working on SageMaker, even after running the following code. Any advice?

[code]

![image](https://user-images.githubusercontent.com/5016453/202193490-3549c6f6-4de7-47df-b109-ef7f9cc7fecb.png)

!

[2022-11-16 16:04] banesullivan commented on #128
I haven't used sage maker yet but it seems to be gaining a lot of traction... I'll see what I can do to get this to work.